<a href="https://colab.research.google.com/github/pathikg/genai-workshop-mrcet/blob/main/Getting_started_with_GenAI_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting started with GenAI - Part 1

![hello](https://raw.githubusercontent.com/pathikg/genai-workshop-mrcet/main/media/hello-world.jpeg)



---


Welcome to the Python module!

In this notebook, we will quickly go over the basics of Python and explore some advanced concepts.  
Follow along and execute the cells to see the output.


## Table of Contents
1. Introduction to Python
2. Basic Python Concepts
3. Advanced Python Concepts
4. Hands-on Exercises

# Introduction to Python

![python snake meme]()

## Why Python for GenAI?

Python is the language of choice for many AI applications because,
- **Ease of Learning and Use**: Python's syntax is straightforward and easy to learn, making it accessible for beginners and experts alike.
- **Extensive Libraries and Frameworks**: Python boasts a rich ecosystem of libraries and frameworks, such as TensorFlow, PyTorch, HuggingFace Transformers, and more, which are essential for developing AI models.
- **Community Support**: Python has a large and active community, which means you can easily find resources, tutorials, and support for any problem you encounter.
- **Integration Capabilities**: Python can easily integrate with other languages and tools, making it a versatile choice for a wide range of applications.
- **Productivity and Speed**: Python allows for rapid development and iteration, which is crucial in the fast-paced field of AI and GenAI.

In the context of Generative AI (GenAI), Python's powerful libraries and tools enable developers to create advanced models for natural language processing (NLP), image generation, and more, making it an indispensable tool for anyone looking to explore this exciting field.

Let's dive into some basic and advanced Python concepts to get you started!

# Basic Python Concepts

## Variables

In Python, variables are used to store data values. They are created when you assign a value to a name, and they do not need explicit declaration of their data type.

In [6]:
x = 10
y = 3.14
name = "Alice"
is_student = True

## Data Types


### Data Types in Python

Python supports several built-in data types that are fundamental for storing and manipulating data:

1. **Numeric Types:**
   - **int**: Integer numbers, e.g., 10, -3, 1000.
   - **float**: Floating-point numbers, e.g., 3.14, -0.001, 2.0.

2. **Sequence Types:**
   - **str**: Strings of characters, e.g., "hello", 'Python'.
   - **list**: Ordered collection of items, mutable, e.g., [1, 2, 3], ['a', 'b', 'c'].
   - **tuple**: Ordered collection of items, immutable, e.g., (1, 2, 3), ('a', 'b', 'c').

3. **Boolean Type:**
   - **bool**: Represents truth values, True or False.

4. **Mapping Type:**
   - **dict**: Collection of key-value pairs, e.g., {'name': 'Alice', 'age': 30}.

5. **Set Types:**
   - **set**: Unordered collection of unique items, e.g., {1, 2, 3}, {'a', 'b', 'c'}.
   - **frozenset**: Immutable version of set, e.g., frozenset({1, 2, 3}).

6. **None Type:**
   - **NoneType**: Represents the absence of a value, similar to null in other languages.

In [3]:
# Numeric types
num_int = 10
num_float = 3.14

# Sequence types
my_string = "Hello"
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)

# Boolean type
is_active = True

# Mapping type
person = {'name': 'Alice', 'age': 30}

# Set types
my_set = {1, 2, 3}
my_frozenset = frozenset({4, 5, 6})

# None type
value = None

In [4]:
print(type(num_int))

<class 'int'>

In [5]:
print(type(person))

<class 'dict'>

## Type Conversion (Casting)

Python allows converting one data type to another using type casting functions:
- `int()`, `float()`, `str()`, `list()`, `tuple()`, `dict()`, `set()` for explicit type conversion.

In [8]:
str_number = "2"

In [13]:
print(type(str_number))

<class 'str'>

In [9]:
int_number = int(str_number)

In [12]:
print(type(int_number))

<class 'int'>

In [19]:
print(int(6.9))

6

In [18]:
print(float("6.9"))

6.9

In [ ]:
# guess the output ?
str_number = "6.9"
print(int(str_number))

In [25]:
my_tuple

(4, 5, 6)

In [26]:
list(my_tuple)

[4, 5, 6]

> notice i'm printing without `print()` ;)

## Operators

### Arithmetic Operators
Arithmetic operators are used to perform mathematical operations like a calculator

Python supports the following arithmetic operators:

| Operator   | Purpose           | Example     | Result    |
|------------|-------------------|-------------|-----------|
| `+`        | Addition          | `2 + 3`     | `5`       |
| `-`        | Subtraction       | `3 - 2`     | `1`       |
| `*`        | Multiplication    | `8 * 12`    | `96`      |
| `/`        | Division          | `100 / 7`   | `14.28..` |
| `//`       | Floor Division    | `100 // 7`  | `14`      |    
| `%`        | Modulus/Remainder | `100 % 7`   | `2`       |
| `**`       | Exponent          | `5 ** 3`    | `125`     |


Try solving some simple problems from this page:
https://www.math-only-math.com/worksheet-on-word-problems-on-four-operations.html .

In [29]:
x = 10
y = 3

addition = x + y       # Addition
subtraction = x - y    # Subtraction
multiplication = x * y # Multiplication
division = x / y       # Division
floor_division = x // y# Floor Division, quotient
modulo = x % y         # Modulo, remainder
exponentiation = x ** y# Exponentiation

In [30]:
addition

13

In [34]:
division

3.3333333333333335

In [32]:
floor_division

3

In [35]:
modulo

1

### Comparison Operators
Comparison operators are used to compare values. They return boolean values such as `True` or `False`

In [28]:
x = 10
y = 3

equal = x == y      # Equal to
not_equal = x != y  # Not equal to
greater = x > y     # Greater than
less = x < y        # Less than
greater_equal = x >= y  # Greater than or equal to
less_equal = x <= y     # Less than or equal to

In [36]:
equal

False

In [37]:
less

False

In [38]:
greater_equal

True

### Logical Operators

Logical operators are used to combine conditional statements.
e.g. AND, OR, NOT

In [39]:
x = True
y = False

and_op = x and y    # Logical AND
or_op = x or y      # Logical OR
not_op = not x      # Logical NOT

In [42]:
and_op, or_op, not_op

(False, True, False)

In [ ]:
# Guess the output?
x = 10
y = 3

op = x > 5 and y < 5
print(op)

In [ ]:
# Guess the output?
x = -1
y = 0

op = (x == y) or not y
print(op)

### Bitwise Operators
Bitwise operators are used to perform bitwise calculations on integers.

In [50]:
x = 10   # 1010 in binary
y = 4    # 0100 in binary

bitwise_and = x & y    # Bitwise AND
bitwise_or = x | y     # Bitwise OR
bitwise_xor = x ^ y    # Bitwise XOR
bitwise_not_x = ~x     # Bitwise NOT
left_shift = x << 1    # Left shift
right_shift = x >> 1   # Right shift

In [51]:
bitwise_and

0

In [52]:
bitwise_or

14

In [53]:
right_shift

5

### Assignment Operators
Assignment operators are used to assign values to variables.

In [54]:
x = 10
x += 5   # Equivalent to x = x + 5 ,equivalent to x++ in c/c++
x -= 3   # Equivalent to x = x - 3
x *= 2   # Equivalent to x = x * 2
x /= 4   # Equivalent to x = x / 4
x //= 3  # Equivalent to x = x // 3
x %= 2   # Equivalent to x = x % 2
x **= 3  # Equivalent to x = x ** 3

### Membership Operators
Membership operators are used to test if a sequence is presented in an object

In [55]:
list = [1, 2, 3, 4, 5]

in_op = 2 in list       # True
not_in_op = 6 not in list # True

In [56]:
in_op

True

In [57]:
not_in_op

True

### Identity Operators
Identity operators compare the memory locations of two objects.

In [58]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

is_op = x is z       # True, because z is the same object as x
is_not_op = x is not y # True, because x is not the same object as y

In [59]:
is_op

True

In [60]:
is_not_op

True

#### funny thing

In [64]:
x

[1, 2, 3]

In [63]:
z

[1, 2, 3]

In [66]:
z[0] = 6

In [67]:
z

[6, 2, 3]

In [68]:
x

[6, 2, 3]

Pass by Reference and Pass by Value in Python
Python handles variables differently based on whether they are mutable or immutable:

- **Mutable Objects**: Mutable objects like lists and dictionaries are **passed by reference**. When you assign a mutable object to another variable, you are actually pointing both variables to the same object in memory. Changes made through one variable will reflect in the other.

- **Immutable Objects**: Immutable objects like integers, floats, strings, and tuples are **passed by value**. This means when you assign a variable to another, a copy of the object is made.


Thus,  
z = x assigns z to reference the same list as x in memory. Modifying z also modifies x because they both point to the same list object. This demonstrates pass by reference behavior in Python for mutable objects.

## Control Flow in Python
Control flow in Python allows you to alter the flow of program execution based on specified conditions or to repeat blocks of code.

### Conditional Statements

Conditional statements are used to make decisions in your code

#### If-else Statements

In [70]:
num = 10
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

#### nested if-else statements

In [71]:
num = 10
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

### Loops
Loops are used to iterate over a sequence or execute a block of code repeatedly

#### For Loop

In [74]:
for i in range(5):
    print(f"Iteration {i}")

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

In [75]:
for i in range(3,5):
    print(f"Iteration {i}")

Iteration 3
Iteration 4

In [78]:
a = [1, 2, "cherry", 4 , 6.0]

In [79]:
for element in a:
    print(element)

1
2
cherry
4
6.0

#### While loop

In [73]:
count = 0
while count < 5:
    print(f"Count: {count}")
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [72]:
count = 10
while count:
    print(f"Count: {count}")
    count -= 1

Count: 10
Count: 9
Count: 8
Count: 7
Count: 6
Count: 5
Count: 4
Count: 3
Count: 2
Count: 1

### Loop control statements

- **break**: Terminates the loop.
- **continue**: Skips the rest of the loop and continues with the next iteration.
- **pass**: Placeholder that does nothing when executed, used when syntax requires a statement but you have nothing to write.

In [80]:
for letter in 'Python':
    if letter == 'h':
        break
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t

In [82]:
for letter in 'Python':
    if letter == 'o':
        continue
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : n

In [84]:
if 1 == 1 :
    print("ok")
    pass
    print("pass")

ok
pass

## Input and Output Operations in Python

### Standard Input (stdin)

Use input() function to prompt the user for input. It reads input as a string by default.

In [86]:
name = input("Enter your name: ")
print(f"Hello, {name}!")

Enter your name: Pathik
Hello, Pathik!

### Standard Output (stdout)
Use `print()` function to output data to the console.

In [87]:
print("Good Afternoon!")

Good Afternoon!

### Files

In [94]:
!touch hello.txt
!echo "Hello, World!" > hello.txt

#### Reading from a File:

Use open() function to open a file and read() or readlines() methods to read its content.

In [95]:
with open("hello.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!

#### Writing to a File:

Use open() function with mode 'w' or 'a' to write or append to a file.

In [96]:
# Open the file in write mode
with open("hello.txt", "w") as file:
    # Write the content to the file
    file.write("This is a new hello word.")

In [97]:
!cat hello.txt

This is a new hello word.

## Data Structures

Data structures in Python are used to store collections of data in an organized manner. Each type of data structure has its own properties and methods for accessing and manipulating the data stored within it.

### List

Lists are ordered collections of items. They are mutable, meaning their elements can be changed after creation.

Common Methods:

- append(item): Adds an item to the end of the list.
- extend(iterable): Extends the list by appending elements from an iterable.
- insert(index, item): Inserts an item at a specified index.
- pop([index]): Removes and returns the item at the specified index (default is the last item).
- remove(item): Removes the first occurrence of the specified item.
- index(item): Returns the index of the first occurrence of the specified item.
- count(item): Returns the number of occurrences of the specified item.
- sort(): Sorts the list in ascending order.
- reverse(): Reverses the elements of the list.

In [121]:
a = [1, 2, 3, 4, 5, 6, 7]

In [122]:
index = 5
a[0]

1

In [123]:
a[10]

IndexError: list index out of range

In [124]:
a[-1]

7

#### Slicing


Slicing in Python allows you to extract a portion of a sequence (such as a string, list, tuple, or any iterable) by specifying a start index, stop index, and an optional step size. It provides a flexible way to access subsets of data without modifying the original sequence.

Syntax:
`sequence[start:stop:step]`

- start: Starting index of the slice (inclusive). Defaults to 0 if not specified.
- stop: Ending index of the slice (exclusive). Defaults to the end of the sequence if not specified.
- step: Step size for slicing. Defaults to 1 if not specified. A negative step size means slicing in reverse.

In [107]:
a[0:3]

[1, 2, 3]

In [105]:
a[2:5:2]

[3, 5]

In [103]:
a[-1]

6

In [111]:
# Reverse the following list

a = [1, 2, 3, 4, 5, 6, 7]

# Solution

Methods

In [104]:
a.append(7)
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [108]:
a.pop(-1)
print(a)

[1, 2, 3, 4, 5, 6]

In [115]:
a.extend([8, 10, 9])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 8, 10, 9]

In [116]:
a.sort()

In [117]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 9, 10, 10]

### Tuples

Same as List, but immutable

Common methods:
- count(item): Returns the number of occurrences of the specified item.
- index(item): Returns the index of the first occurrence of the specified item.

In [132]:
b = (3,4,3,6,7)

In [128]:
b[:2]

(3, 4)

In [130]:
b[2] = 1

TypeError: 'tuple' object does not support item assignment

In [131]:
b.sort()

AttributeError: 'tuple' object has no attribute 'sort'

### Dictionary

Dictionaries are unordered collections of key-value pairs. They are mutable and indexed.

Common Methods:

- keys(): Returns a view object of all keys in the dictionary.
- values(): Returns a view object of all values in the dictionary.
- items(): Returns a view object of all key-value pairs in the dictionary.
- get(key[, default]): Returns the value associated with the key, or a default value if the key does not exist.
- pop(key[, default]): Removes and returns the value associated with the key.
- update(iterable): Updates the dictionary with key-value pairs from an iterable.

In [ ]:
c = {'name': 'Alice', 'age': 25}

In [ ]:
c["name"]

'Alice'

In [ ]:
c["height"]

KeyError: 'height'

In [ ]:
c.get("height", 0)

0

In [ ]:
c["height"] = 170

In [ ]:
c

{'name': 'Alice', 'age': 25, 'height': 170}

### Sets
Sets are unordered collections of unique elements. They are mutable but do not allow duplicate elements.

In [133]:
# Example with a set
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

## Functions
Functions in Python are blocks of organized, reusable code that perform a specific task. They help in modularizing code for better readability, reusability, and maintainability.

### Defining a Function
In Python, you define a function using the def keyword, followed by the function name and parentheses ( ). Any parameters (inputs) are placed inside the parentheses.

In [136]:
def greet(name):
    return f"Hello, {name}!"

### Calling a Function
To execute a function and run its code block, you "call" the function by using its name followed by parentheses ( ). You can pass arguments (values) into the function's parameters.

In [137]:
greet("Alice")

'Hello, Alice!'

### Function Components
- Function Name: Unique identifier for calling the function.
- Parameters: Inputs passed to the function (optional).
- Docstring: Optional documentation describing the - function's purpose.
- Body: Block of code executed when the function is called.
- Return Statement: Optional statement to return a value from the function.

In [135]:
def add_numbers(a, b):
    """Function to add two numbers."""
    return a + b

result = add_numbers(3, 5)
print("Result:", result)

Result: 8

## Lambda functions

In [ ]:
increment = lambda x: x + 1

In [ ]:
increment(5)

6

In [ ]:
expression = lambda x,y : x*y+x+y+1/y

In [ ]:
expression(2,3)

11.333333333333334

## Error Handeling

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
finally:
    print("Execution completed.")

Error: Division by zero is not allowed.
Execution completed.

In [ ]:
try:
    with open("nonexistent.txt", "r") as file:
        content = file.read()
except Exception as e:
    print(f"Error {e}")

Error [Errno 2] No such file or directory: 'nonexistent.txt'

# Advance concepts

## Object Oriented Programming

Object-Oriented Programming (OOP) is a paradigm where programs are organized around objects and data, rather than functions and logic. Key concepts include:

Classes and Objects
- Class: Blueprint for creating objects. Contains attributes (data) and methods (functions).
- Object: Instance of a class. Each object has its own attributes and methods.

In [141]:
# Example: Creating a class
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")

In [142]:
# Creating objects (instances)
person1 = Person("Alice", 30)
person2 = Person("Bob", 25)

In [140]:
# Accessing attributes and methods
print(person1.name)
person2.greet()

Alice
Hello, my name is Bob and I am 25 years old.

### Encapsulation, Inheritance, Polymorphism
- Encapsulation: Bundling of data (attributes) and methods that operate on the data within a single unit (class).
- Inheritance: Creating new classes by extending existing ones. Subclasses inherit attributes and methods from their parent class (superclass).
- Polymorphism: Ability to use a common interface for multiple data types. Methods can be overridden in subclasses.

In [144]:
# Example: Inheritance and Polymorphism
class Animal:
    def sound(self, name):
        pass

class Dog(Animal):
    def sound(self):
        print("Woof!")

class Cat(Animal):
    def sound(self):
        print("Meow!")

# Polymorphic function
def make_sound(animal):
    animal.sound()

dog = Dog()
cat = Cat()

make_sound(dog)  # Output: Woof!
make_sound(cat)  # Output: Meow!

Woof!
Meow!

### Benefits of OOP
- Modularity: Encourages modular design and reusable code.
- Code Reuse: Inheritance and polymorphism promote code reuse and maintainability.
- Abstraction: Focus on essential attributes and behaviors, hiding complex implementation details.

## Modules

### Creating and Using Modules

- Creating a Module:

    Save Python code in a `.py` file. This file name serves as the module name.
    Example: `my_module.py`

- Using a Module:  
    Import the module using the import keyword.  
    Access functions, classes, or variables defined in the module using dot notation (module_name.item_name).

In [ ]:
import math

print(f"Pi: {math.pi}")
print(f"Square root of 16: {math.sqrt(16)}")

Pi: 3.141592653589793
Square root of 16: 4.0

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)

In [ ]:
import numpy as np
array = np.array(a)
print(type(array))

<class 'numpy.ndarray'>

QUIZ TIME!!!

![panda-quizz-image]()

https://forms.gle/mQRC9Em6Do3fUf8CA